@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Roboto|Open+Sans);

$darkBlue: #395669;
$blue: #4b8ebb;

$mobile: 544px;
$medium: 1100px;
$large: 1400px;

* {	
	margin:0;
	padding:0;
	list-style:none;
	float:none;
	outline: 0;
	font-style: normal;
	border: none;
}
body {
    height: auto;
    font-family: "Open Sans";
    font-size: 17px;
    color: #000;
	min-width: 320px;
	background-color: $darkBlue;
	color: #fff;
}

header {
	margin-bottom: 1%;
	padding: 10px;
	background-color: $blue;
	font-family: 'Titillium Web', sans-serif;
	.highlight {
		color: $darkBlue;
	}
	a {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;


	}
	h1 {
		text-align: center;
		font-size: 48px;
	}
	.link-list {
		position: absolute;
		left: 20px;
	}

}

.tappedout-hider {
	display: none !important;
}

#appspace {
	width: 90%;
	margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
	    
    h3 {
    	text-align: center;
    }


    #deckOneFlex, #diffFlex, #deckTwoFlex {
    	order: 0;
    	flex: 1 1 auto;
    	align-self: auto;
    	margin: 0 1%;
    	min-height: 552px;
	    .flexHeader {
			text-align: center;
		}
    }
	
	.tappedOutArea {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;	
		margin: 5px 0 10px;

		input, button {
			order: 0;
			flex: 1 1 auto;
			align-self: auto;
			font-size: 16px;
		}
		input {
			padding: 8px 15px;
			background: #ffffff33;
			color: #fff;
			&::placeholder {
				color: #ccc;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #ccc;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #ccc;
			}
			&::-ms-input-placeholder { /* IE 10+ */
			  color: #ccc;
			}
			&::-moz-placeholder { /* Firefox 18- */
			  color: #ccc;
			}
		}

		button {
			padding: 6px;
			background: #4b8ebb;
			color: #fff;
		}
	}
    

	textarea {
		resize: none;
		width: 100%;
		padding: 8px 15px;
		box-sizing: border-box;
		height: 95%;
		font-family: "Open Sans";
		font-size: 17px;
		background: #ffffff33;
		color: #fff;

	}

	#diffSpace {
	    text-align: center;
	}
}

p {
	font-family: 'Open Sans', sans-serif;
	
	margin: 0 auto;
	text-align: center;
}
